/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('farmer1BGimage.png');
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #416D19;
    color: white;
    padding: 20px;
    text-align: center;
    
}

header h1 {
    margin-bottom: 10px;
}

header p {
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    
    margin: 10px;
    cursor: pointer;
    opacity: 1;
    background-color: #055a08;
    color: white;
    border: black;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

